<div id="<%= dom_id user_book %>">
  <p>
    <strong>User:</strong>
    <%= User.find(user_book.user_id).username %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= Book.find(user_book.book_id).title %>
  </p>

</div>
